body {
    background-color: blanchedalmond;
    background-image: url('../images/houseplaceholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }