body {
    background-color: blanchedalmond;
    background-image: url('../images/creditpage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  audio{
    visibility: visible;
  }